<section class="footer" id="footer">

    <div class="box-container">

        <div class="box">
            <h3>our branches</h3>
            <a href="https://www.google.com/maps/dir//%D0%A2%D0%B0%D1%88%D0%BA%D0%B5%D0%BD%D1%82%D1%81%D0%BA%D0%B8%D0%B9
            +%D0%93%D0%BE%D1%81%D1%83%D0%B4%D0%B0%D1%80%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D1%8B%D0%B9+%D0%A2%D0%B5%D1%
            85%D0%BD%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B9+%D0%A3%D0%BD%D0%B8%D0%B2%D0%B5%D1%80%D1%81%D0%B8%D1%82%D0
            %B5%D1%82,+2+Universitet+St,+Tashkent,+%D0%A3%D0%B7%D0%B1%D0%B5%D0%BA%D0%B8%D1%81%D1%82%D0%B0%D0%BD/@41.3525
            405,69.2045495,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x38ae8c3da3c6e5c3:0x9882f2a6b7329d1d!2m2!1d69.2067382!2d41.3
            525405"> <i class="fas fa-map-marker-alt"></i> india </a>
            <a href="https://www.google.com/maps/dir//%D0%A2%D0%B0%D1%88%D0%BA%D0%B5%D0%BD%D1%82%D1%81%D0%BA%D0%B8%D0%B9
            +%D0%93%D0%BE%D1%81%D1%83%D0%B4%D0%B0%D1%80%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D1%8B%D0%B9+%D0%A2%D0%B5%D1%
            85%D0%BD%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B9+%D0%A3%D0%BD%D0%B8%D0%B2%D0%B5%D1%80%D1%81%D0%B8%D1%82%D0
            %B5%D1%82,+2+Universitet+St,+Tashkent,+%D0%A3%D0%B7%D0%B1%D0%B5%D0%BA%D0%B8%D1%81%D1%82%D0%B0%D0%BD/@41.3525
            405,69.2045495,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x38ae8c3da3c6e5c3:0x9882f2a6b7329d1d!2m2!1d69.2067382!2d41.3
            525405"> <i class="fas fa-map-marker-alt"></i> japan </a>
            <a href="https://www.google.com/maps/dir//%D0%A2%D0%B0%D1%88%D0%BA%D0%B5%D0%BD%D1%82%D1%81%D0%BA%D0%B8%D0%B9
            +%D0%93%D0%BE%D1%81%D1%83%D0%B4%D0%B0%D1%80%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D1%8B%D0%B9+%D0%A2%D0%B5%D1%
            85%D0%BD%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B9+%D0%A3%D0%BD%D0%B8%D0%B2%D0%B5%D1%80%D1%81%D0%B8%D1%82%D0
            %B5%D1%82,+2+Universitet+St,+Tashkent,+%D0%A3%D0%B7%D0%B1%D0%B5%D0%BA%D0%B8%D1%81%D1%82%D0%B0%D0%BD/@41.3525
            405,69.2045495,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x38ae8c3da3c6e5c3:0x9882f2a6b7329d1d!2m2!1d69.2067382!2d41.3
            525405"> <i class="fas fa-map-marker-alt"></i> france </a>
            <a href="https://www.google.com/maps/dir//%D0%A2%D0%B0%D1%88%D0%BA%D0%B5%D0%BD%D1%82%D1%81%D0%BA%D0%B8%D0%B9
            +%D0%93%D0%BE%D1%81%D1%83%D0%B4%D0%B0%D1%80%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D1%8B%D0%B9+%D0%A2%D0%B5%D1%
            85%D0%BD%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B9+%D0%A3%D0%BD%D0%B8%D0%B2%D0%B5%D1%80%D1%81%D0%B8%D1%82%D0
            %B5%D1%82,+2+Universitet+St,+Tashkent,+%D0%A3%D0%B7%D0%B1%D0%B5%D0%BA%D0%B8%D1%81%D1%82%D0%B0%D0%BD/@41.3525
            405,69.2045495,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x38ae8c3da3c6e5c3:0x9882f2a6b7329d1d!2m2!1d69.2067382!2d41.3
            525405"> <i class="fas fa-map-marker-alt"></i> russia </a>
            <a href="https://www.google.com/maps/dir//%D0%A2%D0%B0%D1%88%D0%BA%D0%B5%D0%BD%D1%82%D1%81%D0%BA%D0%B8%D0%B9
            +%D0%93%D0%BE%D1%81%D1%83%D0%B4%D0%B0%D1%80%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D1%8B%D0%B9+%D0%A2%D0%B5%D1%
            85%D0%BD%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B9+%D0%A3%D0%BD%D0%B8%D0%B2%D0%B5%D1%80%D1%81%D0%B8%D1%82%D0
            %B5%D1%82,+2+Universitet+St,+Tashkent,+%D0%A3%D0%B7%D0%B1%D0%B5%D0%BA%D0%B8%D1%81%D1%82%D0%B0%D0%BD/@41.3525
            405,69.2045495,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x38ae8c3da3c6e5c3:0x9882f2a6b7329d1d!2m2!1d69.2067382!2d41.3
            525405"> <i class="fas fa-map-marker-alt"></i> USA </a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#"> <i class="fas fa-arrow-right"></i> home </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> vehicles </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> services </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> featured </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> reviews </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> contact </a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="tel: +998942413323"> <i class="fas fa-phone"></i> +998(94) 241-33-23 </a>
            <a href="mailto: jamshidtolibjonov3323@gmail.com"> <i class="fas fa-envelope"></i>
                jamshidtolibjonov3323@gmail.com </a>
            <a href="https://www.google.com/maps/dir//Bobir+Akilkhanov+Tech+Academy,+4+University+street,+Tashkent+10019
            4,+%D0%A3%D0%B7%D0%B1%D0%B5%D0%BA%D0%B8%D1%81%D1%82%D0%B0%D0%BD/@41.3521626,69.2014573,17z/data=!4m8!4m7!1m0
            !1m5!1m1!1s0x38ae8d4a0dce8309:0x43e0a115d4b09d1a!2m2!1d69.203646!2d41.3521626">
                <i class="fas fa-map-marker-alt"></i> Tashkent, Uzbekistan</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
            <a href="#"> <i class="fab fa-pinterest"></i> pinterest </a>
        </div>

    </div>

    <div class="credit"> created by mr. full stack web developer | Tolibjonov Jamshidjon</div>

</section>