{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}


    <section class="home" id="home">

        <h3 data-speed="-2" class="home-parallax">find your car</h3>

        <img data-speed="5" class="home-parallax" src="{% static 'image/home-img.png' %}" alt="">

        <a data-speed="7" href="#vehicles" class="btn home-parallax">explore cars</a>

    </section>

    <section class="icons-container">

        <div class="icons">
            <i class="fas fa-home"></i>
            <div class="content">
                <h3>150+</h3>
                <p>branches</p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-car"></i>
            <div class="content">
                <h3>4770+</h3>
                <p>cars sold</p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-users"></i>
            <div class="content">
                <h3>320+</h3>
                <p>happy clients</p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-car"></i>
            <div class="content">
                <h3>1500+</h3>
                <p>news cars</p>
            </div>
        </div>

    </section>

    <section class="vehicles" id="vehicles">

        <h1 class="heading"> popular <span>vehicles</span></h1>

        <div class="swiper vehicles-slider">

            <div class="swiper-wrapper">
                {% for popular_car in popular_cars %}
                    <div class="swiper-slide box">
                        <img src="{{ popular_car.image.url }}" alt="">
                        <div class="content">
                            <h3>{{ popular_car.brand }}: <i class="text-secondary">{{ popular_car.model }}</i></h3>
                            <div class="price"><span>price : </span> ${{ popular_car.price }}/-</div>
                            <p>
                                {{ popular_car.condition }}
                                <span class="fas fa-circle"></span> {{ popular_car.year }}
                                <span class="fas fa-circle"></span> {{ popular_car.motor_type }}
                                <span class="fas fa-circle"></span> {{ popular_car.fuel }}
                                <span class="fas fa-circle"></span> {{ popular_car.max_speed }}km/h
                            </p>
                            {% if request.user.is_authenticated %}
                                <a href="#" class="btn">check out</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="swiper-pagination"></div>

        </div>

    </section>

    <section class="featured" id="featured">

        <h1 class="heading"><span>featured</span> cars </h1>

        <div class="swiper featured-slider">

            <div class="swiper-wrapper">
                {% for featured_car in featured_cars.select_related %}
                    <div class="swiper-slide box">
                        <img src="{{ featured_car.image.url }}" alt="">
                        <div class="content">
                            <h3>{{ featured_car.brand }}</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                            <div class="price">${{ featured_car.price }}/-</div>
                            {% if request.user.is_authenticated %}
                                <a href="#" class="btn">check out</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="swiper-pagination"></div>

        </div>

        <div class="swiper featured-slider">
            <div class="swiper-wrapper">
                {% for featured_car in featured_cars2 %}
                    <div class="swiper-slide box">
                        <img src="{{ featured_car.image.url }}" alt="">
                        <div class="content">
                            <h3>{{ featured_car.brand }}</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                            <div class="price">${{ featured_car.price }}/-</div>
                            {% if request.user.is_authenticated %}
                                <a href="#" class="btn">check out</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>

        </div>

    </section>

    <section class="newsletter">

        <h3>subscribe for latest updates</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, suscipit.</p>

        <form action="">
            <input type="email" placeholder="enter your email">
            <input type="submit" value="subscribe">
        </form>

    </section>

    <section class="reviews" id="reviews">

        <h1 class="heading"> client's <span>review</span></h1>

        <div class="swiper review-slider">

            <div class="swiper-wrapper">

                <div class="swiper-slide box">
                    <img src="{% static 'image/pic-1.png' %}" alt="">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam incidunt quod praesentium
                            iusto
                            id autem possimus assumenda at ut saepe.</p>
                        <h3>john deo</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="{% static 'image/pic-2.png' %}" alt="">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam incidunt quod praesentium
                            iusto
                            id autem possimus assumenda at ut saepe.</p>
                        <h3>john deo</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="{% static 'image/pic-3.png' %}" alt="">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam incidunt quod praesentium
                            iusto
                            id autem possimus assumenda at ut saepe.</p>
                        <h3>john deo</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="{% static 'image/pic-4.png' %}" alt="">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam incidunt quod praesentium
                            iusto
                            id autem possimus assumenda at ut saepe.</p>
                        <h3>john deo</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="{% static 'image/pic-5.png' %}" alt="">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam incidunt quod praesentium
                            iusto
                            id autem possimus assumenda at ut saepe.</p>
                        <h3>john deo</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="{% static 'image/pic-6.png' %}" alt="">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam incidunt quod praesentium
                            iusto
                            id autem possimus assumenda at ut saepe.</p>
                        <h3>john deo</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination"></div>

        </div>

    </section>

{% endblock %}



